#about {
    flex-direction: column;
    gap: 2rem;
    background-color: var(--surface-color);
    padding: 2rem;

    & p,
    & span {
      color: var(--text-color-secondary);
    }

    & .profile {
        flex-direction: column;
        
        & img {
            width: 7.5rem;
            height: 7.5rem;
        }

        & .bio {
            gap: .5rem;

            & h1 {
                font: var(--heading1);
                font-size: 1.5rem;
                color: var(--text-color-primary);
            }
        }
    }

    & .info {
        width: 17.5rem;

        & > div {
            gap: .5rem;
        }
    }
}