#about {
    flex-direction: column;
    gap: 2rem;
    background-color: var(--surface-color);
    min-width: 18.5rem;
    padding: 2rem;

    & p,
    & span {
      color: var(--text-color-secondary);
    }

    & .profile {
        flex-direction: column;
        
        & img {
            width: 7.5rem;
            height: 7.5rem;
        }

        & .bio {
            gap: .5rem;
            width: 18.5rem;

            & h1 {
                font: var(--heading1);
                font-size: 1.5rem;
                color: var(--text-color-primary);
            }
        }
    }

    & .info {
        width: 17.5rem;

        & > div {
            gap: .5rem;

            & img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

#gallery {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    margin-inline: auto;

    & .card {
        position: relative;
        cursor: pointer;

        & img {
            width: 20.5rem;
            height: 20.5rem;
        }

        & .info {
            flex-direction: column;
            gap: .25rem;
            width: 100%;
            height: 5rem;

            color: var(--text-color-primary);
            background-color: var(--shape-transparency);
            backdrop-filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.25));
            backdrop-filter: blur(.5rem);

            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;

            padding: 1rem 1.5rem;

            animation: fade-out .4s ease-out backwards;
            cursor: text;

            & p + p {
                font: var(--paragraph-sm);
            }
        }

        &:hover {
            & .info {
                animation: fade-in .2s ease-in forwards;
            }
        }
    }
}

@media ((width >= 44em) and (width < 80em)) {
    #about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 37rem;

        & .profile {
            flex-direction: row;
            gap: 2rem;
            width: 37rem;

            & img {
                width: 11rem;
                height: 11rem;
            }
        }
    }
}

@media (width >= 80em) {
    #about {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .profile {
            flex-direction: row;
            gap: 2rem;
            width: 37rem;

            & img {
                width: 11rem;
                height: 11rem;
            }
        }
    }

    #gallery {
        flex-direction: row;
        
        gap: 1.5rem;
        /*min-width: 80rem;*/
        max-width: 99.25rem;
        padding: 1.5rem 2rem;

        & .card {
            & img {
                width: 17.875rem;
                height: 17.875rem;
            }
        }
    }
}